* {
    box-sizing: border-box;
}

html, body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

/*navigation*/
nav{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    height: 80px;
    width: 100%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    float: left;
    margin-left: 20px;
}

nav ul{
    list-style-type: none;
    float: right;
    line-height: 80px;
    margin: 0px;
    margin-right: 20px;
}

nav li{
    font-family: 'Merriweather';
    font-size: 18px;
    float: left;
    padding-left: 20px;
}

/*header*/
header {
    height: 600px;
    width: 100%;
    background: url("http://68.media.tumblr.com/db1107427ddd1e468889a699de1b9393/tumblr_ohm5cgdBvg1r6kaa9o6_1280.jpg") no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
}

h1 {
    color: #FFF;
    font-size: 100px;
    text-align: center;
}

header p{
    color: #333;
    font-size: 20px;
    text-align: center;
    line-height: 15px;
}

/*section*/
section{
    height: 600px;
    margin-top: 200px;
    margin-left: 150px;
}

article{
    float: left;
    width: 33%;
}

article p{
    color: #333;
    font-size: 18px;
    display: block;
    text-align: left;
}

.secimg {
    width: 300px;
    height: 300px;
}

/*footer*/
footer{
    background-color: black;
    height: 60px;
    padding-top: 3px;
}

footer p{
    font-size: 18px;
    color: #FFF;
    text-align: center;
}