* {
  box-sizing: border-box;
}

p {
    background-color: #ebebeb;
    font-family: 'Lato', regular;
    color: #111;
    font-size: 16px;
    height: 400px;
    width: 380px;
    overflow: scroll;
    border-radius: 5px;
    padding: 50px 60px;
}